@include mediaXl {
  .projects-info {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include mediaLg {
  .projects-info {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1.2rem;
    }
  }
  .menu {
    .menu-nav,
    .menu-branding {
      float: none;
      width: 100%;
      min-height: 0;
      &.show {
        @include easeOut;
        transform: translate3d(0, 0, 0);
      }
    }
    .menu-nav {
      @include easeOut;
      height: 75vh;
      transform: translate3d(100%, 0, 0);
      font-size: 1.5rem;
    }
    .menu-branding {
      padding: 1rem 0;
      height: auto;
      transform: translate3d(-100%, 0, 0);
      .menu-portrait {
        width: 150px;
        height: 150px;

        background: url("../img/portrait_small.jpg");
        background-size: cover;
      }
    }
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-info {
    .box {
      width: 100%;
    }
  }
}

@include mediaSm {
  main {
    .lg-heading {
      margin-top: 10vh;
    }
  }
  .projects-info {
    grid-template-columns: 1fr;
  }
}
