@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

//Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: setTextColor($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//About page

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  .bio-portrait {
    grid-area: bioimage;
    border-radius: 50%;
    border: 3px $secondary-color solid;
    margin: auto;
  }

  .bio {
    grid-area: bio;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .job {
    padding: 0.6rem;
    background: lighten($primary-color, 5);
    border-bottom: 5px solid $secondary-color;
  }

  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
}

//Projects page

.projects-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
  .image-container {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      border: 2px #fff solid;

      &:hover {
        opacity: 0.7;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  width: 100%;

  &:hover {
    background: $secondary-color;
    color: setTextColor($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: #242424;
}

.btn-light {
  background: #fff;
  color: #242424;
  @extend .btn;
}

//Contact Page

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  .box {
    border: 3px #fff solid;
    padding: 1rem 2.6rem;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    @include easeOut;
    &:hover {
      background: $secondary-color;
      color: setTextColor($secondary-color);
      h3 {
        color: setTextColor($secondary-color);
      }
    }
  }
}

#main-footer {
  background: darken($primary-color, 10);
  color: setTextColor($primary-color);
  height: 60px;
  padding: 1rem;
  text-align: center;
}

@import "mobile";
